@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
h3{
    font-weight: 700;
    font-size: 1.5rem;
    color: #202020;
}
.btn-primary{
    background-color: #FEA301;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    padding: 15px 60px;
    border-radius: 12px;
}
.btn-secondary{
    background-color: #111111;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    padding: 15px 60px;
    border-radius: 12px;
}
.btn-third{
    font-weight: 700;
    font-size: 1rem;
    border: none;
    background-color: #FFFFFF;
}
.btn-fourth{
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
    border-radius: 3rem;
    padding: 10px 15px;
    border: none;
}
.btn-fourth{
    position: relative;
}
.btn-1{
    top: -25px;
    left: 20px;
}
.btn-2{
    top: -25px;
    left: 20px;
}
.btn-3{
    top: -25px;
    left: 20px;
}
.btn-4{
    top: -25px;
    left: 20px;
}
.btn-5{
    top: -25px;
    left: 20px;
}
/* background-color */

.bg-green{
    background-color: #05D4DF;
}
.bg-skyblue{
    background-color: #01ACFD;
}
.bg-orange{
    background-color: #FEA301;
}
.bg-blue{
    background-color: #5D58EF;
}
.bg-nevyblue{
    background-color: #5D58F0;
}

/* text-color */

.text-white{
    color: #FFFFFF;
}
.text-orange{
    color: #FEA301;
}
.text-skyblue{
    color: #01ACFD;
}
.text-green{
    color: #05D4DF;
}
.text-blue{
    color: #5D58EF;
}
.text-black{
    color: #111111;
}


/* header styles */

/* navbar related styles */

.school{
    font-weight: 700;
    font-size: 2rem;
}
.navbar{
   
    align-items: center;
    justify-content: space-between;
    margin: 40px 180px;
}
.nav-title{
    display: flex;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 35px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
}
.display-none{
    display: none;
}
.hr-line{
    border: 1px solid orange;
    display: none;
}

/* vision-section */

.vision-section{
    display: flex;
    gap: 100px;
    margin: 0 180px;
}
.vision-title{
    font-weight: 700;
    font-size: 3.5rem;
    margin-top: 100px;
}
.vision-description{
    font-size: 1.25rem;
    margin-bottom: 50px;
}

/* curriculum-section */

.curriculum-section{
    margin: 0 180px;
    background-image: url(./bg.png);
}
.curriculum-title{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.curriculum-description{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 80px;
}
.curriculum-year{
    font-weight: 500;
    font-size: 1rem;
    color: #808080;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 50px 50px;
    border-radius: 1.2rem;
    
}

#kinder{
    background: linear-gradient(#DEF5FF, #FFFFFF);
    box-shadow: 1px 1px 1px 1px #DEF5FF;
}
#elementary{
    background: linear-gradient(#FFF4DC, #FFFFFF);
    box-shadow: 1px 1px 1px 1px #FFF4DC;
}
#middle{
    background: linear-gradient(#F2E8FF, #FFFFFF);
    box-shadow: 1px 1px 1px 1px #F2E8FF;
}

.angle-div{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 60px;
}
.angle{
    width: 60px;
    height: 60px;
}

/* stories-section */

.stories-section{
    /* margin: 0 180px; */
    /* padding: 0px 180px; */
    background-image: linear-gradient(to bottom, rgba(254, 163, 1, 0.3), rgba(254, 163, 1, 0.3)), url(./bg.png);
    /* width: 100%;
    background-size: cover; */
}
.stories{
    width: 80%;
    margin: 0 auto;
    padding: 60px;
}
.stories-title{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.stories-description{
    display: flex;
    gap: 20px;
}
.story-img{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 100%;
}
.card-1{
    flex: 1;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

.card2-5{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card2-5 > div{
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}
.card-padding{
    padding: 40px;
}
.about-img{
    font-weight: 700;
    font-size: 1rem;
}
.view-all-parant{
    text-align: center;
    margin-top: 80px;
}

/* footer-section */

.footer-section{
    /* margin: 0 180px; */
    /* align-items: center;
    justify-content: space-between; */
    background-color: #01ACFD;
    padding: 150px 200px;
}
.footer-title{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
/* .footer-school{
    justify-content: center;
    align-items: center;
} */

.footer-item{
    list-style: none;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.25rem;
}
.footer-link{
    text-decoration: none;
    margin: 0;
}
.footer-school{

}
.footer-school ul{
    padding: 0;
    margin: 0;
}




/* small devices */

@media screen and (max-width: 576px) {

    /* nav-section */

    .mobile-hide{
        display: none;
    }
    .bars{
        display: block;
        height: 100%;
        width: 50px;
        
    }
    .navbar{
        margin: 10px 15px;
    }
    .hr-line{
        display: block;
    }
    
    /* vision-section */

    .vision-section{
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin: 20px 15px;
    }
    .vision-title{
        font-weight: 700;
        font-size: 2rem;
        margin: 0 15px;
    }
    .vision-description{
        font-size: 1rem;
        margin-bottom: 50px;
    }
    .vision-img{
        width: 90%;
    }

    /* curriculum-section */

    .curriculum-section{
        margin: 0;
    }
    .curriculum-description{
        flex-direction: column;   
    }

    /* stories-section */

    .stories-section{
        margin: 0;
    }
    .card-padding{
        padding: 5px;
    }
    .stories-description{
        margin-top: 40px;
    }
    .btn-fourth{
        padding: 5px;
        font-size: 0.8rem;
    }

    /* footer-section */

    .footer-section{
        padding: 4rem 2rem;
    }
    .footer-title{
        flex-direction: column;
    }
    

   
}